menu "App Configuration"
    rsource "libs/provision/provision.projbuild"  
    rsource "libs/mqtt_tools/mqtt.projbuild"

    menu "Sensors"
        # config SENSORS_KA_PERIOD_S
        #     int "SENSORS_KA_PERIOD_S"
        #     default 600
        #     help
        #         sensor keep alive period sec, resend value if it unchanged
        # config LIGHTING_REFRESH
        #     int "LIGHTING_REFRESH"
        #     default 200
        #     help
        #         LIGHTING_REFRESH ms
        # config LIGHTING_THRESHOLD
        #     int "LIGHTING_THRESHOLD"
        #     default 10
        # config LIGHTING_MIN_RAW
        #     int "LIGHTING_MIN_RAW"
        #     default 10
        # config LIGHTING_MAX_RAW
        #     int "LIGHTING_MAX_RAW"
        #     default 4096

        rsource "libs/sensors/adc.projbuild"
        rsource "libs/sensors/bme680.projbuild"
        rsource "libs/sensors/bh1750.projbuild"
        
    endmenu

    menu "Battery"
        config BATTERY_MAX
            int "value 100% (4.2V)"
            default 2940
        config BATTERY_MIN
            int "value 0%(3.0V)"
            default 2053
    endmenu

    menu "Deep Sleep"
        config DEEP_SLEEP_ENABLED
            bool "Enable Deep Sleep"
            default y
        config DEEP_SLEEP_TIMEOUT_S
            int "Deep Sleep timeout (sec)"
            default 7
        config DEEP_SLEEP_DURATION_S
            int "Deep Sleep duration (sec)"
            default 900
        config DEEP_SLEEP_LOWBAT
            int "value in % recognised as low bat"
            default 30
        config DEEP_SLEEP_LOWBAT_DURATION_S
            int "Deep Sleep duration when LOW BAT(sec)"
            default 1800
    endmenu

endmenu


