menu "App Configuration"
    menu "Provision"

    choice EXAMPLE_PROV_SECURITY_VERSION
        bool "Protocomm security version"
        default EXAMPLE_PROV_SECURITY_VERSION_2
        help
            Wi-Fi provisioning component offers 3 security versions.
            The example offers a choice between security version 1 and 2.

        config EXAMPLE_PROV_SECURITY_VERSION_1
            bool "Security version 1"
            select ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1

        config EXAMPLE_PROV_SECURITY_VERSION_2
            bool "Security version 2"
            select ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_2
    endchoice

    choice EXAMPLE_PROV_MODE
        bool "Security version 2 mode"
        depends on EXAMPLE_PROV_SECURITY_VERSION_2
        default EXAMPLE_PROV_SEC2_DEV_MODE

        config EXAMPLE_PROV_SEC2_DEV_MODE
            bool "Security version 2 development mode"
            depends on EXAMPLE_PROV_SECURITY_VERSION_2
            help
                This enables the development mode for
                security version 2.
                Please note that this mode is NOT recommended for production purpose.

        config EXAMPLE_PROV_SEC2_PROD_MODE
            bool "Security version 2 production mode"
            depends on EXAMPLE_PROV_SECURITY_VERSION_2
            help
                This enables the production mode for
                security version 2.
    endchoice

    config EXAMPLE_PROV_TRANSPORT
        int
        default 1 if EXAMPLE_PROV_TRANSPORT_BLE
        default 2 if EXAMPLE_PROV_TRANSPORT_SOFTAP

    config PROV_RESET
        bool
        default n
        prompt "Reset provisioned status of the device"
        help
            This erases the NVS to reset provisioned status of the device on every reboot.
            Provisioned status is determined by the Wi-Fi STA configuration, saved on the NVS.

    config EXAMPLE_RESET_PROV_MGR_ON_FAILURE
        bool
        default y
        prompt "Reset provisioned credentials and state machine after session failure"
        help
            Enable reseting provisioned credentials and state machine after session failure.
            This will restart the provisioning service after retries are exhausted.

    config EXAMPLE_PROV_MGR_MAX_RETRY_CNT
        int
        default 5
        prompt "Max retries before reseting provisioning state machine"
        depends on EXAMPLE_RESET_PROV_MGR_ON_FAILURE
        help
            Set the Maximum retry to avoid reconnecting to an inexistent AP or if credentials
            are misconfigured. Provisioned credentials are erased and internal state machine
            is reset after this threshold is reached.

    config EXAMPLE_PROV_USING_BLUEDROID
        bool
        depends on (BT_BLUEDROID_ENABLED && (IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3))
        select BT_BLE_42_FEATURES_SUPPORTED
        default y
        help
            This enables BLE 4.2 features for Bluedroid.
    endmenu
    
    rsource "mqtt/mqtt.projbuild"

    menu "Board"
        config I2C_MASTER_SCL_IO
                int "I2C_MASTER_SCL_IO"
                default 9

        config I2C_MASTER_SDA_IO
                int "I2C_MASTER_SDA_IO"
                default 8
    endmenu


    menu "Sensors"
        # config SENSORS_KA_PERIOD_S
        #     int "SENSORS_KA_PERIOD_S"
        #     default 600
        #     help
        #         sensor keep alive period sec, resend value if it unchanged
        # config LIGHTING_REFRESH
        #     int "LIGHTING_REFRESH"
        #     default 200
        #     help
        #         LIGHTING_REFRESH ms
        # config LIGHTING_THRESHOLD
        #     int "LIGHTING_THRESHOLD"
        #     default 10
        # config LIGHTING_MIN_RAW
        #     int "LIGHTING_MIN_RAW"
        #     default 10
        # config LIGHTING_MAX_RAW
        #     int "LIGHTING_MAX_RAW"
        #     default 4096

        rsource "sensors/adc.projbuild"
        rsource "sensors/bme680.projbuild"
        rsource "sensors/bh1750.projbuild"
        
    endmenu

    menu "Battery"
        config BATTERY_MAX
            int "value 100% (4.2V)"
            default 4095
        config BATTERY_MIN
            int "value 0%(3.2V)"
            default 0
    endmenu

    menu "Deep Sleep"
        config DEEP_SLEEP_ENABLED
            bool "Enable Deep Sleep"
            default y
        config DEEP_SLEEP_TIMEOUT_S
            int "Deep Sleep timeout (sec)"
            default 7
        config DEEP_SLEEP_DURATION_S
            int "Deep Sleep duration (sec)"
            default 900
        config DEEP_SLEEP_LOWBAT
            int "value in % recognised as low bat"
            default 30
        config DEEP_SLEEP_LOWBAT_DURATION_S
            int "Deep Sleep duration when LOW BAT(sec)"
            default 1800
    endmenu

endmenu


